{{define "title"}}Add Property{{end}}
<!--TODO: Form Validation for user entries-->
{{define "main"}}
<form action="/property/create" method="post">
	<div class="grid grid-cols-4 gap-4 px-5">
		<!-- Situs -->
		<div class="col-span-4">
			<label for="situs" class="block text-sm font-medium text-gray-900">Situs</label>
			<div class="mt-2">
				<input type="text" name="situs" id="situs"
					class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF8040] sm:text-sm">
			</div>
		</div>

		<!-- City -->
		<div class="col-span-2">
			<label for="city" class="block text-sm font-medium text-gray-900">City</label>
			<div class="mt-2">
				<input type="text" name="city" id="city"
					class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF8040] sm:text-sm">
			</div>
		</div>

		<!-- State -->
		<div class="col-span-1">
			<label for="state" class="block text-sm font-medium text-gray-900">State</label>
			<div class="mt-2">
				<input type="text" name="state" id="state"
					class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF8040] sm:text-sm">
			</div>
		</div>

		<!-- ZIP Code -->
		<div class="col-span-1">
			<label for="zip_code" class="block text-sm font-medium text-gray-900">ZIP Code</label>
			<div class="mt-2">
				<input type="text" name="zip_code" id="zip_code"
					class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF8040] sm:text-sm">
			</div>
		</div>

		<!-- County ID -->
		<div class="col-span-2">
			<label for="county_id" class="block text-sm font-medium text-gray-900">County</label>
			<div class="mt-2">
				<select name="county_id" id="county_id"
					class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-[#FF8040] sm:text-sm">
					<!-- TODO: generate a list of all counties in GA, this is just filler -->
					<option value="">Select a county</option>
					<option value="1">Appling</option>
					<option value="2">Atkinson</option>
					<option value="3">Bacon</option>
					<option value="4">Baker</option>
					<option value="5">Baldwin</option>
					<option value="6">Banks</option>
					<option value="7">Barrow</option>
					<option value="8">Gwinnett</option>
				</select>
			</div>
		</div>

		<!-- Parcel ID -->
		<div class="col-span-2">
			<label for="parcel_id" class="block text-sm font-medium text-gray-900">Parcel ID</label>
			<div class="mt-2">
				<input type="text" name="parcel_id" id="parcel_id"
					class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF8040] sm:text-sm">
			</div>
		</div>

		<!-- Property Type -->
		<div class="col-span-2">
			<label for="property_type" class="block text-sm font-medium text-gray-900">Property Type</label>
			<div class="mt-2">
				<input type="text" name="property_type" id="property_type"
					class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF8040] sm:text-sm">
			</div>
		</div>

		<!-- Land Value -->
		<div class="col-span-1">
			<label for="land_value" class="block text-sm font-medium text-gray-900">Land Value</label>
			<div class="mt-2">
				<input type="number" name="land_value" id="land_value"
					class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF8040] sm:text-sm">
			</div>
		</div>

		<!-- Building Value -->
		<div class="col-span-1">
			<label for="building_value" class="block text-sm font-medium text-gray-900">Building Value</label>
			<div class="mt-2">
				<input type="number" name="building_value" id="building_value"
					class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF8040] sm:text-sm">
			</div>
		</div>

		<!-- Fair Market Value -->
		<div class="col-span-1">
			<label for="fair_market_value" class="block text-sm font-medium text-gray-900">Fair Market Value</label>
			<div class="mt-2">
				<input type="number" name="fair_market_value" id="fair_market_value"
					class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF8040] sm:text-sm">
			</div>
		</div>

		<!-- Lot Size -->
		<div class="col-span-1">
			<label for="lot_size" class="block text-sm font-medium text-gray-900">Lot Size</label>
			<div class="mt-2">
				<input type="number" step="0.01" name="lot_size" id="lot_size"
					class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF8040] sm:text-sm">
			</div>
		</div>

		<!-- Square Footage -->
		<div class="col-span-1">
			<label for="square_footage" class="block text-sm font-medium text-gray-900">Square Footage</label>
			<div class="mt-2">
				<input type="number" name="square_footage" id="square_footage"
					class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF8040] sm:text-sm">
			</div>
		</div>

		<!-- Bedrooms -->
		<div class="col-span-1">
			<label for="bedrooms" class="block text-sm font-medium text-gray-900">Bedrooms</label>
			<div class="mt-2">
				<input type="number" name="bedrooms" id="bedrooms"
					class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF8040] sm:text-sm">
			</div>
		</div>

		<!-- Bathrooms -->
		<div class="col-span-1">
			<label for="bathrooms" class="block text-sm font-medium text-gray-900">Bathrooms</label>
			<div class="mt-2">
				<input type="number" name="bathrooms" id="bathrooms" step="0.01"
					class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF8040] sm:text-sm">
			</div>
		</div>

		<!-- Year Built -->
		<div class="col-span-1">
			<label for="year_built" class="block text-sm font-medium text-gray-900">Year Built</label>
			<div class="mt-2">
				<input type="number" name="year_built" id="year_built"
					class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF8040] sm:text-sm">
			</div>
		</div>

		<!-- Tax Assessor URL -->
		<div class="col-span-4">
			<label for="tax_assessor_url" class="block text-sm font-medium text-gray-900">Tax Assessor URL</label>
			<div class="mt-2">
				<input type="url" name="tax_assessor_url" id="tax_assessor_url"
					class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF8040] sm:text-sm">
			</div>
		</div>

		<!-- Zillow URL -->
		<div class="col-span-4">
			<label for="zillow_url" class="block text-sm font-medium text-gray-900">Zillow URL</label>
			<div class="mt-2">
				<input type="url" name="zillow_url" id="zillow_url"
					class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[#FF8040] sm:text-sm">
			</div>
		</div>
	</div>

	<!-- Submit Button -->
	<div class="mt-6 flex items-center justify-end gap-x-6 px-6">
		<button type="button" class="text-sm font-semibold text-gray-900">Cancel</button>
		<button type="submit"
			class="rounded-md bg-[#FF8040] px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-slate-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#FF8040]">Submit</button>
	</div>
</form>
{{end}}