{{define "title"}}Home{{end}}

{{define "main"}}
<h1>This will contain the homepage layout</h1>
<p class="pt-5">Current routes:</p>
<div class="pt-0 px-5 inline-block">
	<li class="hover:text-purple-600"><a href="/properties">/properties</a></li>
	<li class="hover:text-purple-600"><a href="/property/69">/property/{id}</a></li>
</div>
{{end}}